tests/test_schema.xml

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="CHROM" type="xs:string"/>
  <xs:element name="POS" type="xs:long"/>
  <xs:element name="ID" type="xs:string"/>
  <xs:element name="REF" type="xs:string"/>
  <xs:element name="ALT" type="xs:string"/>
  <xs:element name="QUAL" type="xs:float"/>
  <xs:element name="FILTER" type="xs:string"/>
  <xs:element name="INFO" type="xs:string"/>
  <xs:element name="FORMAT" type="xs:string"/>
  <xs:element name="NA12877_single_20180302" type="xs:string"/>
  <xs:element name="previous_url" type="xs:anyURI"/>
  <xs:element name="next_url" type="xs:anyURI"/>
  <xs:element name="data">
    <xs:complexType>
      <xs:choice maxOccurs="unbounded" minOccurs="0">
        <xs:element ref="CHROM"/>
        <xs:element ref="POS"/>
        <xs:element ref="ID"/>
        <xs:element ref="REF"/>
        <xs:element ref="ALT"/>
        <xs:element ref="QUAL"/>
        <xs:element ref="FILTER"/>
        <xs:element ref="INFO"/>
        <xs:element ref="FORMAT"/>
        <xs:element ref="NA12877_single_20180302"/>
      </xs:choice>
    </xs:complexType>
  </xs:element>
  <xs:element name="root">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="previous_url"/>
        <xs:element ref="next_url"/>
        <xs:element ref="data"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>